<div class="todo">
  <app-nav-menu></app-nav-menu>

  <body>
    <div class="barra">
      <a class="logo" href="/"></a>
      <nav>
        <ul class="nav__links">
            <li><a href="Recepcionista/Reserva/ProcesarReserva/Datos">Datos Reserva</a></li>
            <li><a href="Recepcionista/Reserva/ProcesarReserva/Acompanantes">Acompañantes</a></li>
            <li><a href="Recepcionista/Reserva/ProcesarReserva/Servicios">+ Servicios</a></li>
            <li><a href="Recepcionista/Reserva/ProcesarReserva/Descuentos">+ Descuentos</a></li>
            <li><a href="#">Generar Factura</a></li>
        </ul>
      </nav>
      <a class="cta" href="#"></a>
    </div>
  </body>

  <div class="container">
    <h1>Acompañantes</h1><br>

    <button class="btn btn-outline-success new" type="button" (click)="open()">Agregar Acompañante</button>
    <div class="card">
      <div class="card-body cliente">
        <div class="input-group mb-3">
          <h5 class="col-sm-2 col-form-label">Filtrar</h5>
          <input type="text" class="form-control"
            placeholder="Filtrar por Identificacion, Nombre, Apellido, Edad">
          <div class="input-group-append">
            <button class="btn btn-outline-info" (click)="getAll()" type="button">Recargar Lista<i
                class="fas fa-sync-alt"></i></button>
          </div>
        </div>

        <hr>

        <div class="table-container">
          <table id="tabla" class="table-striped tabla">
            <thead>
              <tr>
                <th scope="col">Identificacion</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Edad</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2000</td>
                <td>Juan</td>
                <td>Fernandez</td>
                <td>8</td>
                <td><a href="#" class="button"><span><i class="fas fa-minus-circle"></i></span></a></td>
              </tr>
              <tr>
                <td>3242</td>
                <td>Miguel</td>
                <td>Fernandez</td>
                <td>7</td>
                <td><a href="#" class="button"><span><i class="fas fa-minus-circle"></i></span></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
