<div >
    <div class="container">
        <div class="contact-agileits-title">
            <h3>Contáctenos</h3>
        </div>
        <div class="clearfix"></div>
        <!--get in touch start here-->
        <div class="get-touch" id="contact1">
            <div class="get-touch-main">
                <div class="get-touch-bottom">
                    <form action="#" method="post">
                        <input type="text" placeholder="Nombre" name="First Name" required="">
                        <input type="text" class="no-mar" placeholder="Apellido" required="">
                        <input type="text" placeholder="Numero de telefono" name="phone" required="">
                        <input type="email" class="no-mar" placeholder="Email" name="Email" required="">
                        <textarea placeholder="Escriba aqui su mensaje" name="Message" required=""></textarea>
                        
                    </form>
                    <button type="submit" class="btn btn-info">Enviar Mensaje</button>
                    <br>
                </div>
            </div>
        </div>
        <!--get in touch end here-->
    </div>
</div>