* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .todo{
    background-color: whitesmoke;
   background-size: 100% 100%;
   background-attachment: fixed;
   margin-left: 250px;
}
  
  .barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #24252a;
    width: 100%;
  }
  
  .logo {
    cursor: pointer;
  }
  
  .nav__links a,
  .cta {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    text-align: center;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }


  
  
  