
   <div class="todo"> 
    <app-nav-menu></app-nav-menu>
        <body>
            <div class="barra">
                <a class="logo" href="/"></a>
                <nav>
                    <ul class="nav__links">
                        <li><a href="#">Datos Reserva</a></li>
                        <li><a href="#">+ Servicios</a></li>
                        <li><a href="#">Acompañantes</a></li>
                        <li><a href="#">Facturar</a></li>
                    </ul>
                </nav>
                <a class="cta" href="#"></a>
            </div>
        </body>
   </div> 
