<header>
  <nav>
    <ul>
      <li><a class="cero">Sugeydigch</a></li>
      <li><a href="#"><span class="primero"><i class="fas fa-home"></i></span>Inicio</a></li>
      <li><a href="#"><span class="segundo"><i class="fas fa-concierge-bell"></i></span>Reserva</a>
        <ul>
          <li><a href="/Reserva">Nueva Reserva</a></li>
          <li><a href="#">Consultar Reservas</a></li>
        </ul>
      </li>
      <li class="h"><a href="#"><span class="tercero"><i class="fas fa-bed"></i></span>Habitaciones</a>
        <ul>
          <li><a href="#">Todas las habitaciones</a></li>
          <li><a href="#">Habitaciones disponibles</a></li>
        </ul>
      </li>
      <li><a href="#"><span class="cuarto"><i class="fas fa-sliders-h"></i></span>Utilidades</a>
        <ul>
          <li><a href="#">Servicios y Descuentos</a></li>
          <li><a href="#">Clientes</a></li>
        </ul>
      </li>
      <li><a href=""><span class="quinto"><i class="fas fa-sign-out-alt"></i></span>Log Out</a></li>
    </ul>
  </nav>
</header>


