<div class="modal-header">
  <div>
    <h4 class="modal-title">Registrarse</h4>
  </div>
</div>

<div class="modal-body">
  <div>
    <h1>Datos Personales</h1><br>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label class="y">Identificacion:</label>
      <input class="form-control" type="text">
    </div>
    <div class="col-md-4 mb-3">
      <label class="y">Nombre Completo:</label>
      <input class="form-control" type="text">
    </div>
    <div class="col-md-4 mb-3">
      <label class="y">Apellido Completo:</label>
      <input class="form-control" type="text">
    </div>
  </div>

  <div class="form-row">

    <div class="col-md-4 mb-3">
      <label class="y">Fecha de nacimiento:</label>
      <input class="form-control" type="text">
    </div>
    <div class="col-md-4 mb-3">
      <label class="y">Genero:</label>
      <input class="form-control" type="text">
    </div>
    <div class="col-md-4 mb-3">
      <label class="y">Telefono:</label>
      <input class="form-control" type="text">
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label class="y">Correo:</label>
      <input class="form-control" type="text">
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info">Registrarse</button>
    <button type="button" class="btn btn-outline-danger"(click)="cerrar()">Cancelar</button>
  </div>
</div>
