<header>
  <nav>
    <ul>
      <li><a href="#"><span class="primero"><i class="fas fa-home"></i></span>Inicio</a></li>
      <li><a href="#"><span class="segundo"><i class="fas fa-bed"></i></span>Categorias</a>
        <ul>
          <li><a href="#">Item #1</a></li>
          <li><a href="#">Item #2</a></li>
          <li><a href="#">Item #3</a></li>
          <li><a href="#">Item #4</a></li>
          <li><a href="#">Item #5</a></li>
        </ul>
      </li>
      <li><a href="#"><span class="tercero"><i class="icon icon-suitcase"></i></span>Servicios</a></li>
      <li><a href="#"><span class="cuarto"><i class="icon icon-text"></i></span>Acerca de</a></li>
      <li><a href="#"><span class="quinto"><i class="icon icon-mail"></i></span>Contacto</a></li>
    </ul>
  </nav>
</header>