* {
	margin:0;
	padding:0;
}

/*EN EL VIDEO HAY UN ERROR POR EL CUAL NO SE VISUALIZA EN GOOGLE CHROME,
EL CÓDIGO A CONTINUACIÓN YA ESTA CORREGIDO*/

header {
	margin-top:0px;
    width: 100%;
    overflow: hidden;
    height: 70px;
	position: relative;
}

nav {
    top:-20px;
    position: absolute;
    left:0;
    right:0;
	margin:20px auto;
	max-width:100%;
	width:100%;
}

nav ul {
	list-style:none;
}

nav > ul {
	display:table;
	/*Quitamos el overflow hidden que estaba aqui*/
	width:100%;
	background:#000;
	position:relative;
}

nav > ul li {
	display:table-cell;
}

nav > ul .uno, .dos{
	display:table-cell;
	width: 5%;
}

/*Sub-menu*/
nav > ul > li:hover > ul {
	display:block;
	height:100%;
}

nav > ul > li > ul {
	display:block;
	position:absolute;
	background:#000;
	/*left:0;
	right:0;*/
	overflow:hidden;
	height:0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul li a {
	color:#fff;
	display:block;
	line-height:20px;
	padding:20px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul li .cero{
	text-align:left;
	font-family: Garamond;
	font-size: 150%;
}

nav > ul > li > ul > li a:hover {
	background:#5da5a2;
}


nav > ul > li > a span {
	background:#174459;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > a span .icon, .fas {
	display:block;
	line-height:60px;
}

nav > ul > li > a:hover > span {
	top:0;
}

/*Colores*/
nav ul li a .primero {
	background:#0e5061;
}

nav ul li a .segundo {
	background:#5da5a2;
}

nav ul li a .tercero {
	background:#f25724;
}

nav ul li a .cuarto {
	background:#174459;
}

nav ul li a .quinto {
	background:#37a4d9;
}

